<div id="page">
<header id="header" class="header" role="banner" aria-label="{{ 'Site header'|t }}">

    <div class="section layout-container clearfix">
    {{ page.header }}
    {{ page.primary_menu }}
    </div>

</header>
{% if page.highlighted %}
    <div class="highlighted">
    <aside class="layout-container section clearfix" role="complementary">
        {{ page.highlighted }}
    </aside>
    </div>
{% endif %}
<div id="main-wrapper" class="layout-main-wrapper layout-container clearfix">
    <div id="main" class="layout-main clearfix">
    <main id="content" class="column main-content" role="main">
    {% if page.sidebar_first %}
        <div id="sidebar-first" class="column sidebar">
        <aside class="section" role="complementary">
            {{ page.sidebar_first }}
        </aside>
        </div>
    {% endif %}
        <section class="section">
        <a id="main-content" tabindex="-1"></a>
        {{ page.content }}
        </section>
    
    {% if page.sidebar_second %}
        <div id="sidebar-second" class="column sidebar">
        <aside class="section" role="complementary">
            {{ page.sidebar_second }}
        </aside>
        </div>
    {% endif %}
    </div>
    </main>
</div>
<footer class="site-footer">
    <div class="layout-container">
    {% if page.footer %}
        <div class="site-footer__top clearfix">
        {{ page.footer }}
        </div>
    {% endif %}
    </div>
</footer>
</div>